<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
table td {
  border: 1px solid black;
}
    </style>
  </head>
  <body>
<table>
{% for div in result %}
  <tr>
    <td>
      {{div.administrativedivision.code}}
    </td>
    <td>
      {{div.administrativedivision.name}}
    </td>
    <td>
      {{div.hazardcategory.hazardtype.mnemonic}}
    </td>
    <td>
      {% for set in div.hazardsets %}
        {{set.owner_organization}}
      {% endfor %}
    </td>
  </tr>
{% endfor %}
</table>
</body>
</html>
